/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}




/****************/
/* CUSTOM PARTS */
/****************/

/********/
/* Body */
/********/
body {
    background-image: url("../assets/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Overwrite bootstrap query */
.container {
    max-width: unset;
}

/**********/
/* Header */
/**********/
header {
    padding: 0 1rem;
    background-image: linear-gradient(chocolate, sienna);
    margin-bottom: 1rem;
}

header a, header a.text-dark {
    color: antiquewhite !important;
}

/* Overwrite bootstrap query */
header .nav-link {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}

/***********/
/* Content */
/***********/
main {
    padding: 3rem 3rem;
    margin: 0 3rem 6rem 3rem;
    background-color: rgba(233, 167, 118, 0.65);
}

.steam-login {
    padding: 1rem 1rem;
    border-radius: 14px;
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    color: white;
}

.steam-login p {
    margin: unset;
    padding-right: 2rem;
}

table {
    margin-top: 2rem;
}
table th {
    height: 56px;
    text-align: center;
}
table td {
    border-bottom: 1px solid black;
    padding: 10px;
}
table tr:nth-child(even) {
    background-color: rgba(242, 242, 242, 0.7);
}
table .image-col {
    width: auto;
}
table .name-col {
    width: 20%;
}
table .description-col {
    width: 60%;
}
table .difficulty-col {
    width: 10%;
    text-align: center;
}
table .achieved-col {
    width: 10%;
    text-align: center;
}

.about ul {
    margin-top: -.75rem;
}

/**********/
/* Footer */
/**********/
.footer {
    padding: 0 1rem;
    background-image: linear-gradient(chocolate, sienna);
    margin-top: 1rem;
    color: antiquewhite;
}
.footer .container {
    padding: 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer a {
    color: antiquewhite !important;
}
.footer a:hover {
    color: black !important;
}